<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="/assets/truck-svg.svg" alt="TruckApp" width="30" height="30">
      TruckApp
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active-link" routerLink="/"
        [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLink="/calendar" routerLinkActive="active-link">
          <a class="nav-link">Calendar</a>
        </li>
        <li class="nav-item" routerLink="/time" routerLinkActive="active-link">
          <a class="nav-link">Time Calculator</a>
        </li>
      </ul>
    </div>
  </div>
</nav>